<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.geolockeadministrator">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <service
            android:name="com.example.geolockeadministrator.services.BleScanService"
            android:exported="false"/>
        <service
            android:name="com.example.geolockeadministrator.services.ParseService"
            android:exported="false"/>
        <service
            android:name="com.example.geolockeadministrator.services.GeolockeIBeaconParserService"
            android:exported="false"/>
    </application>

</manifest>
